<article class="task-entry">
    <tr {#if completed}class="success" {else}class="danger"{/if} id="tr-{id}">
    <td>
        <div class="col-md-10 col-md-offset-1">
            <input class="complete" name="{id}" type="checkbox" {#if completed}checked{/if}/>
        </div>
    </td>
    <td>
        <div class="row title collapse in" aria-expanded="true" name="{id}" >
            {title}
        </div>
        <div class="row titleEdit collapse" aria-expanded="false" >
            <div class="input-group input-group-sm col-sm-8">
                <input class="input-xs form-control " name="title" id="titleUpdate-{id}" type="text" value="{title}" />
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-sm saveTitle" value="{id}">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                    </span>
            </div>
        </div>
    </td>
    <td>
        <div class="col-sm-10">
            <div class="row taskMembers collapse in" aria-expanded="true">
                <div class="btn-group" role="group" aria-label="..." id="{id}">
                    {#each members}
                    <button class="btn btn-default btn-xs memberRemove" value="{.}">
                        {.}
                    </button>
                    {/each}
                    {#if isOwner}
                    <button class="btn btn-default btn-xs taskMembersSubmit">
                        <span class="glyphicon glyphicon-plus"> </span>
                    </button>
                    {/if}
                </div>
            </div>
            <div class="row memberInput collapse" aria-expanded="false">
                <div class="input-group">
                    <select class="form-control" id="select-{id}">
                        {#filteredUsers members=members}
                        <option value="{.}">{.}</option>
                        {/filteredUsers}
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-sm memberInputSubmit" value="{id}">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </td>
    <td>
        <div>
            {#getUserName id=owner/}
        </div>
    </td>
    <td>
        <button type="button" class="btn btn-danger delete-task" value="{id}">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </td>
    </tr>
</article>

