<div class="errorPage container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Something's Fishy!</h1>
                <h2>
                    Our Hamster wasn't able to find this page.</h2>
                <div class="error-details">
                    404 Page Not Found: Make sure you typed in the correct address.
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a>
                </div>
            </div>
        </div>
    </div>
</div>
