<div class="errorPage container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Something's Fishy!</h1>
                <h2>
                    Our Hamster wasn't able to find this page.</h2>
                <div class="error-details">
                    404 Page Not Found: Make sure you typed in the correct address.
                </div>
                <div class="error-actions">
                    {{#link-to 'login'}}
                        <span class="btn btn-primary btn-lg glyphicon glyphicon-home">Take Me Home</span>
                         {{/link-to}}
                </div>
            </div>
        </div>
    </div>
</div>
