<div class="errorPage container vertical-center">
    <div class="col-md-10 col-md-offset-1">
        <h1>Somethings Fishy!</h1>
        <p>Our Hamster wasn't able to find this page.</p>
        <img src="images/ember-fishy.png" alt="fishy"/>
    </div>
</div>
