
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Doom</a>
        </div>
        <ul class="nav navbar-nav">
            <li>{{#link-to "users"}}Users{{/link-to}}</li>
            <li>{{#link-to "task-list"}}Tasks{{/link-to}}</li>
            <li></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col">
                    <div class="notifications"></div>
                    <div class="login">
                      {{#if session.isAuthenticated}}
                          <a {{ action 'invalidateSession' }}>Logout</a>
                      {{else}}
                        {{#link-to 'login'}}Login{{/link-to}}
                      {{/if}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1>HapiHamster</h1>
                        </div>
                        <div class="panel-body tall">
                          {{outlet}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
