<div class="row visible-lg">
    <div class="col">
        <div class="verticalSpacer"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col">
                    <div class="notifications"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1>HapiHamster</h1>
                        </div>
                        <div class="panel-body tall">
                          {{outlet}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
