<div class="row">
    <div class="col-md-4 col-md-offset-4 vertical-center">
                <div class="sk-spinner sk-spinner-wandering-cubes">
                    <div class="sk-cube1"></div>
                    <div class="sk-cube2"></div>
                </div>
    </div>
</div>