<form {{action 'addTask' on='submit'}} class="task-form">
    <div class="input-group">
      {{input value=formTask.title class='form-control' id='name'}}
        <span class="input-group-btn">
                <button {{action 'addTask'}} class="btn btn-success" type="submit">
                    Add
                </button>
                <button class="btn btn-danger" type="reset">
                    Clear
                </button>
            </span>
    </div>
</form>
    <table class="table table-hover table-condensed">
        <thead>
            <th class="col-sm-1">Done</th>
            <th class="col-sm-3">Title</th>
            <th class="col-sm-3">Member</th>
            <th class="col-sm-3">Owner</th>
            <th class="col-sm-2"></th>
        </thead>
      {{#each tasks as |task|}}
        {{task-entry element='tr' class='completed:success:danger' store=controller.store users=users task=task}}
      {{/each}}
    </table>
</div>

